
<h2>
      <%= @product.name %>
</h2>
<hr>
<div class="row product-details">
  <div class="col-3">
    <div class="jumbotron text-center">
      <h1 class="display-4"><%= @product.prices.last.price %><sub>L.E</sub></h1>
      <p class="lead">Average price.</p>
      
    </div>

    <div>
    <h4>Specifications</h4>
    <table class="table table-striped" >

      <% @product.spec_values.each do |val|  %>
      <tr>
        <td><%= val.spec_item.name %></td>
        <td><%= val.value %></td>
      </tr>
      <% end %>

    </table>
    </div>

  </div>
  <div class="col-7">
  
  	<div>
		  <canvas id="chart1"></canvas>
    </div>
    <hr>

    <h4>Description</h4>
    <p>
      <%= @product.discription %>
    </p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="true">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="offers-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offers" aria-selected="false">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="compare-tab" data-toggle="tab" href="#compare" role="tab" aria-controls="compare" aria-selected="false">Compare</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
        <div class="row">
          <% @product.photos.each  do |photo|  %>
          <div class="col-6 mb-2"><img src="<%= photo.file %>>" class="img-fluid" alt=""></div>
            <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">

        <% @product.offers.each  do |offer|  %>
          <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title"><%= offer.title %></h5>
              <p class="card-text"><%= offer.description %></p>
              <a href="#" class="btn btn-primary">Offer by: <%= offer.company.name %></a>
            </div>
          </div>

        <% end %>
      </div>
      <div class="tab-pane fade" id="compare" role="tabpanel" aria-labelledby="compare-tab">
        <% @product.similar.each do |product|  %>
          <div>

            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal"><%= product.name %></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><%= product.current_price %> L.E</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <% product.spec_values.each do |item| %>
                    <li>
                      <%= item.spec_item.name %>, <%= item.value %>
                    </li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
  <div class="col-2">
    <h4>Providers</h4>
    <ul class="list-unstyled">
      <% @product.companies.each  do |provider|  %>
        <li>
          <%= icon('far', 'arrow-alt-circle-right') %>
          <a href="#"><%= provider.name %></a>
        </li>
      <% end %>
    </ul>
    <hr />
    <%= form_tag(catalog_brand_products_path) do %>
      <%= hidden_field_tag 'catalog_id', params[:catalog_id] %>
      <%= hidden_field_tag 'blog_id', params[:blog_id] %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <div><%= submit_tag 'Add to Quotation Request', :class => 'btn btn-primary' %></div>
    <% end %>

  </div>
</div>

<script>
		function randomNumber(min, max) {
			return Math.random() * (max - min) + min;
		}

		function randomBar(date, lastClose) {
			var open = randomNumber(lastClose * 0.95, lastClose * 1.05);
			var close = randomNumber(open * 0.95, open * 1.05);
			return {
				t: date.valueOf(),
				y: close
			};
		}

		var dateFormat = 'MMMM DD YYYY';
		var date = moment('April 01 2017', dateFormat);
		var data = [randomBar(date, 30)];
		var labels = [date];
		while (data.length < 20) {
			date = date.clone().add(1, 'd');
			if (date.isoWeekday() <= 5) {
				data.push(randomBar(date, data[data.length - 1].y));
				labels.push(date);
			}
		}

		var ctx = document.getElementById('chart1').getContext('2d');
		ctx.canvas.width = 1000;
		ctx.canvas.height = 500;

		var color = Chart.helpers.color;
		var cfg = {
			type: 'bar',
			data: {
				labels: labels,
				datasets: [{
					label: 'CHRT - Chart.js Corporation',
					backgroundColor: color('red').alpha(0.5).rgbString(),
					borderColor: 'red',
					data: data,
					type: 'line',
					pointRadius: 0,
					fill: false,
					lineTension: 0,
					borderWidth: 2
				}]
			},
			options: {
				scales: {
					xAxes: [{
						type: 'time',
						distribution: 'series',
						ticks: {
							source: 'labels'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Closing price ($)'
						}
					}]
				}
			}
		};
		var chart = new Chart(ctx, cfg);

	

	</script>